.gameboard--ia {
   background-color: rgb(186, 204, 233);
   padding: 15px;
   position: relative;
   margin-bottom: 24px;
}

/* .gameboard--ia .progress-bar {
   background-color: rgb(223, 133, 15);
} */

.gameboard--title {
   border-bottom: 1px black solid;
}
